h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial,sans-serif;
    font-weight: 400;
}

.selectWidthAuto
{
     width:auto !important;
     display: inline-block;
}

.show-info-text {
    font-size: 1.9em;
}

.page-title {
    margin-top: 70px;
}